.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("/LoginBackground.svg");
    h2{
        color: black;
        font-size: 34px;
    }
}

@media (max-width: 515px) {
  h2{
    text-align: center;
  }
}